body{
    background-size: cover;
}

.note{
    font-size: 17px;
    color: blue;
}

.heading{
    font-size: 23px;
    font-weight: bold;
    font-family: cursive;
    width: 100%;
    margin: 0;
    background: linear-gradient(orange 0%, chartreuse 100%);
}

#song_name{
    font-size: 23px;
    margin: 15px;
}

canvas{
    border: 10px dashed red;
    border-radius: 20px;
}